@font-face {
    font-family: 'blueprint-3d';
    src:    url('/font/blueprint-3d.eot?hypqng');
    src:    url('/font/blueprint-3d.eot?hypqng#iefix') format('embedded-opentype'),
        url('/font/blueprint-3d.ttf?hypqng') format('truetype'),
        url('/font/blueprint-3d.woff?hypqng') format('woff'),
        url('/font/blueprint-3d.svg?hypqng#blueprint-3d') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'blueprint-3d' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
    content: "\e99f";
}
.icon-magic-wand:before {
    content: "\e997";
}
.icon-rocket:before {
    content: "\e9a5";
}
.icon-accessibility:before {
    content: "\e84e";
}
.icon-public:before {
    content: "\e80b";
}
.icon-wb_sunny:before {
    content: "\e430";
}
.icon-border_style:before {
    content: "\e231";
}
.icon-apps:before {
    content: "\e5c3";
}
.icon-call_made:before {
    content: "\e0b2";
}
.icon-directions_run:before {
    content: "\e566";
}
.icon-lock:before {
    content: "\e897";
}
.icon-lock_open:before {
    content: "\e898";
}
.icon-image:before {
    content: "\e3f4";
}
.icon-visibility:before {
    content: "\e8f4";
}
.icon-visibility_off:before {
    content: "\e8f5";
}
.icon-delete:before {
    content: "\e872";
}
.icon-edit:before {
    content: "\e3c9";
}
.icon-save:before {
    content: "\e161";
}
.icon-cube:before {
    content: "\e907";
}

