.edit-menu
  &__header
    margin 0
    padding 0
    border 0
    background-color transparent
    i
      width inherit
  &__body
    border 0
    text-align center
    background-color transparent
